<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <link rel="stylesheet" href="./css/app.css"> 
    <title>Document</title>
</head>
<body>

<img src={{pokemon.img}} alt="pokemonImage" class="pimageBig">
<h1>{{pokemon.name}}</h1>

<p>
    <b>Type: </b><br>
    {{pokemon.type}} <br>
    <b>Stats:  </b><br>
    {%for stat in pokemon.stats%}
   {{stat}} <br>
    {%endfor%}
    <b>Damage: </b><br>
    {%for damage in pokemon.damages%}
    {{damage}} <br>
     {%endfor%}
     <b>Abilities: </b><br>
     {%for ability in pokemon.misc.abilities%}
     {{ability}} <br>
      {%endfor%}
     





</p>
<a href="/pokedex">Back to Pokedex</a>



    
</body>
</html>