<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <link rel="stylesheet" href="./css/app.css"> 
    <title>Document</title>
</head>
<body>

<img src={{pokemon.img}} alt="pokemonImage" class="pimageBig">
<h1>{{pokemon.name}}</h1>

<!-- <form action="/pokedex" method="POST">
Do I have this pokemon?
<input type="checkbox" name="own"/><br/>
    Nickname:<br>
    <input type="text" name="Nickname" /><br/>
<input type="submit" value = "create a nickname"> -->


<p>
    <b>Type: </b><br>
    {%for type in pokemon.type%}
    {{type}} <br>
    {%endfor%}
    <b>Stats:  </b><br>
    {%for stat in pokemon.stats%}
   {{stat}} <br>
    {%endfor%}
    <b>Damage: </b><br>
    {%for damage in pokemon.damages%}
    {{damage}} <br>
     {%endfor%}
     <b>Abilities: </b><br>
     {%for ability in pokemon.misc.abilities%}
     {{ability}} <br>
      {%endfor%}
     

</p>
<!-- <input type="edit" name="Edit" /><br/> -->

<a href="/pokedex">Back to Pokedex</a>



    
</body>
</html>